#game__hud--questionnaires {
    font-family: 'Press Start 2P';  
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 640px;
    font-size: 14px;
    margin-top: 150px;
    margin-left: 640px;
    padding: 20px 7px 20px 7px;
    border-color: white;
    text-align: center;
    vertical-align: middle;
}

#game__hud--info {
    color:white;
    text-align: center;
    font-size: 7px;
}

#game__hud--dialogue {
    cursor: cell;
    font-family: 'Press Start 2P';  
    color: white;
    background-color: black;
    border: 3px solid white;
    margin-top: 350px;
    margin-left: 320px;
    width: 1200px;
    height: 100px;
    font-size: 12px;
    padding: 5px 4px 5px 4px;
    border-color: white;
    text-align: center;
}

#game__hud--dialogue-body {
    padding-top: 25px;
}

#game__hud--inventory {
    font-family: 'Press Start 2P';  
    text-align: center;
    height: 50px;
    width: 250px;
    font-size: 14px;
    padding: 5px;
    margin-top: 50px;
    margin-left: 320px;
    background-color: black;
    color: white;   
}

#game__hud--inventory--gold {
    color: gold;
    line-height: 50px;
}