.game__progressTabMenu {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 15px 15px 15px 15px;
    font-family: 'Press Start 2P';    
    font-size: 10px;
    width: 100px;
    height: 250px;
    text-align: center;
}

.game__progressTabMenu div {
    margin-top: 8px;
}