.game__agreeForm {
    cursor: cell;
    font-family: 'Press Start 2P';  
    color: white;
    background-color: black;
    border: 3px solid white;
    margin-top: 400px;
    margin-left: 200px;
    width: 860px;
    height: 100px;
    font-size: 12px;
    padding: 5px 4px 5px 4px;
    border-color: white;
    text-align: center;
}

.game__agreeForm input element {
    width: 10px;
}