.seance--main {
    background-color:black;
    color: white;
    border: 5px solid white;
    font-family: 'Press Start 2P';    
    width: 320px;
    height: 550px;
    text-align: center;
    line-height: 100px;
    padding-top: 10px;
}

.seance--main div:hover {
    color: slateblue;
    cursor: pointer;
}

.seance--main div {
    margin: 5px;
    padding: 5px 3px 5px 3px;
    font-size: 17px;
    line-height: 30px;
}

.seance--start-banner {
    font-family: 'Press Start 2P';   
    margin-left: -70px;
    font-size: 15px;
    text-align: center;
    color: blue;
}