.seance--main {
    background-color:black;
    color: white;
    border: 5px solid white;
    font-family: 'Press Start 2P';    
    margin-left: 640px;
    margin-top: 50px;
    width: 860px;
    height: 720px;
    font-size: 320px;
    text-align: center;
    line-height: 150px;
    padding-top: 10px;
}

.seance--main div:hover {
    color: slateblue;
    cursor: pointer;
}

.seance--main div {
    margin: 5px;
    padding: 5px 3px 5px 3px;
    font-size: 17px;
    line-height: 30px;
}

.seance--start-banner {
    font-family: 'Press Start 2P';   
    margin-left: 640px;
    width: 860px;
    font-size: 24px;
    text-align: center;
    color: blue;
}

.seance--container {
    margin-top: 150px;
}