body {
  background-image: url('../assets/images/subwayTentacles.jpg');
  font-family: 'Staatliches', cursive;
}

#calendar {
  background-color: beige;
  height: 10vw;
  width: 25vw;
  position: absolute;
  right: 0;
  top: 5vw;
  text-align: center;
  line-height: 10vw;
  font-size: 5vw;
}

.dialog {
  visibility: hidden;
}


.replyMessageBox {
  background-color: pink;
  text-align: center;
  line-height: 2vw;
  height: 5vw;
  width: 30vw;
}

#commutingJob {
  background-color: beige;
  height: 10vw;
  width: 25vw;
  position: absolute;
  bottom: 0;
  left: 40%;
  text-align: center;
  font-size: 5vw;
}

.main__ui__gameplay-instructions {
  background-color: lime;
  color: blue;
  height: 2vw;
  width: 35vw;
}
