body {

}

#calendar {
  background-color: beige;
  height: 10vw;
  width: 25vw;
  position: absolute;
  right: 0;
  top: 5vw;
  text-align: center;
  line-height: 10vw;
  font-size: 5vw;
}

.dialog {
  visibility: hidden;
}

#tofuFlattener {
  background-color: beige;
  height: 10vw;
  width: 25vw;
  position: absolute;
  bottom: 0;
  left: 40%;
  text-align: center;
  line-height: 5vw;
  font-size: 5vw;
}