.main__primary-action {
    height: 10vw;
    width: 10vw;
    position: relative;
    bottom: 5px;
    float: right;
    cursor: pointer;
}

.main__primary-action:hover {
    height: 12vw;
    width: 12vw;
}
